# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore Terraform binary files
.terraform/

# Ignore Terraform cache and state files
*.tfstate
*.tfstate.*

# Ignore backup files created by Terraform
*.backup

# Ignore Terraform plan files
*.tfplan
